<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입 완료</title>
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>회원 가입 완료</strong>
            <p>회원 가입이 완료되었습니다.</p>
        </div>
        <div class="bt_wrap">            
            <button type="submit" onclick="location.href='/'"> 돌아가기 </button>
        </div>        
    </div>
</body>
</html>