<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입 실패</title>
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>회원 가입 실패 </strong>
            <p>회원 가입에 실패했습니다. </p>
            <p>아이디는 4~16자 영문소문자/숫자로 작성하세요.</p>
            <p>전화번호는 숫자만 작성하세요.</p>
            <p>비밀번호 확인 란에 동일한 비밀번호를 입력하세요</p>
        </div>
        <div class="bt_wrap">            
            <button type="submit" onclick="location.href='/signup'"> 돌아가기 </button>
        </div>        
    </div>
</body>
</html>